@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./nubelson-fernandes-iE71-TMrrkE-unsplash\ \(1\).jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;
    display: flex;
}

nav {
    width: 50%;
}

ul {
    position: fixed;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

p {
    margin: 10px;
}

.botoes {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    text-decoration: none;
}

.botoes:hover {
    color: #d870db;
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.content-container {
    height: 100vh;
    background-color: #333;
}

.profile-container {
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./akin-cakiner-xKBmqz66gEs-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-content {
    width: 30%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(7, 7, 7), #fff);
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0), 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.name-text {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
    color: black;
}

.profile-text {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    color: black;
}

.profile-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #03009e;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-top: 35px;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #2d2b42;
    transition: 0.5s;
}

.divider {
    width: 100%;
    border-top: #bfbfbf;
    margin: 20px 0;
}

.icon-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon-item {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.profile-sinopse {
    width: 400px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 17px;
}

.project-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./projectbg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-content {
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.position-container {
    width: 100%;
    display: flex;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.project-card {
    width: 700px;
    height: 200px;
    background-color: black;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.card-reverse {
    flex-direction: row-reverse;
}

.project-image {
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
    right: 20px;
    top: 40px;
}

.image-reverse {
    left: 20px;
}

.project-text {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./photo-1562813733-b31f71025d54.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.136);
    backdrop-filter: blur(5px);
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
}

input {
    display: block;
    width: 100%;
    border-radius: 8px;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    border-radius: 8px;
}

button {
    width: 100%;
    border: none;
    background-color: #03009e;
    color: white;
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    
}

 button:hover {
    background-color: #2d2b42;
    transition: 0.5s;
}

@media(max-width: 768px){

    h1 {
        width: 50%;
        font-size: 40px;
        align-items: center;
        display: flex;
        flex-direction: column; 
    }

    ul {
        position: fixed;
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 300px;
        left: 45%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    .botoes {
        font-size: 17px;
    }

    .profile-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profile-card {
        width: 70%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        width: 110px;
    }

    .name-text {
        font-size: 18px;

    }

    .profile-text {
        font-size: 14px;
    }
    
    .icon-item {
        width: 60px;
    }

    .profile-sinopse {
        width: 90%;
        font-size: 13px;
        margin-top: 20px;
        text-align: center;
    }

    .project-content {
        height: 100%;
    }

    .project-card {
        width: 280px;
        height: 130px;
        margin: 15px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center;
        position: relative; 
    }


    .project-image {
        width: 290px;
        height: 200px;
        margin-top: 75px;
    }

    .project-text {
        position: absolute;
        font-size: 13px;
    }
}

